In [ ]:
# String

In [1]:
f=5
print(f)

5

In [2]:
f='ABC'
print(f)

ABC

In [3]:
type(f)

str

In [4]:
#concatenation 
print("Techlang "+str(123))

Techlang 123

In [6]:
#concatenation or add
print("Techlang "+'Hello !!!')

Techlang Hello !!!

In [10]:
def someFunction():
    global f
    f='Delhi'

In [11]:
f='Delhi '
someFunction()
print(f)

Delhi

In [12]:
def func2(arg1,arg2):
    print(arg1,"I am Data Scientist ",arg2)

In [13]:
def cube(x):
    return x*x*x

In [14]:
func2(10,20)
print(func2(40,60))
print(cube(3))

10 I am Data Scientist  20
40 I am Data Scientist  60
None
27

In [16]:
print('str '*4)

str str str str

In [18]:
print('k' in 'techlanagdatavalue')

False

In [19]:
print('ar'=='ar')

True

In [20]:
print('Sach'>'sach')

False

In [22]:
print('A'<'a')

True

In [23]:
ord('A')

65

In [24]:
ord('a')

97

In [58]:
ord('%')

37

In [25]:
s="Techlang is my name"

In [26]:
print(s.split())

['Techlang', 'is', 'my', 'name']

In [27]:
s="Techlang $ is $ m$y na$me"

In [28]:
print(s.split('$'))

['Techlang ', ' is ', ' m', 'y na', 'me']

In [29]:
list1=['Techlang ', ' is ', ' m', 'y na', 'me']

In [ ]:
# join

In [ ]:
# Date time function

In [32]:
from datetime import date
from datetime import time
from datetime import datetime

In [41]:
def main():
    today=date.today()
    print("Today date is: ",today)
    print("Date Components: ",today.day)
    print("Date Components: ",today.month)
    print("Date Components: ",today.year)
    t=today.day+2
    print("After two days: ",t)

In [42]:
if __name__=="__main__":
    main()

Today date is:  2023-07-24
Date Components:  24
Date Components:  7
Date Components:  2023
After two days:  26

In [43]:
today=datetime.time(datetime.now())
print(today)

22:32:41.022069

In [44]:
from datetime import datetime
def main():
    now=datetime.now()
    print(now.strftime("Current year is %Y"))

In [45]:
if __name__=="__main__":
    main()

Current year is 2023

In [46]:
from datetime import datetime
def main():
    now=datetime.now()
    print(now.strftime("Current year is %y"))

In [47]:
if __name__=="__main__":
    main()

Current year is 23

In [48]:
from datetime import datetime
def main():
    now=datetime.now()
    print(now.strftime("%a, %d, %B %Y"))

In [49]:
if __name__=="__main__":
    main()

Mon, 24, July 2023

In [50]:
from datetime import datetime
def main():
    now=datetime.now()
    print(now.strftime("%A, %D, %b %y"))

In [51]:
if __name__=="__main__":
    main()

Monday, 07/24/23, Jul 23

In [53]:
from datetime import timedelta

In [54]:
print(timedelta(days=365,hours=5,minutes=1))
now=datetime.now()
print("Sachin: "+str(now))
print("Sachin: "+str(now+timedelta(days=365)))

365 days, 5:01:00
Sachin: 2023-07-24 22:38:39.153191
Sachin: 2024-07-23 22:38:39.153191

In [55]:

print(timedelta(days=365,hours=5,minutes=1))
now=datetime.now()
print("Sachin: "+str(now))
print("Saxena: "+str(now+timedelta(days=2,weeks=3)))

365 days, 5:01:00
Sachin: 2023-07-24 22:39:59.379420
Saxena: 2023-08-16 22:39:59.379420

In [56]:
t=datetime.now()-timedelta(weeks=1)
s=t.strftime("%A %B %d %Y")
print("One week ago it was: "+s)

One week ago it was: Monday July 17 2023

In [57]:
now=date.today()
print(now)

2023-07-24